/* --- General Config --- */ 
* {
	  font-family: JetBrains Mono Nerd Font, SymbolsNerdFont;
	  font-weight: bold;
	  font-size: 12px;
	  min-height: 10px;
    border: none;
}


/* --- Nord/Nightlamp Colorscheme --- */

@define-color night        #18191F;
@define-color black        #3B4252;
@define-color gray         #4C566A;
@define-color white        #E5E9F0;

@define-color red          #BF616A;
@define-color green        #A3BE8C;
@define-color yellow       #EBCB8B;
@define-color blue         #81A1C1;
@define-color magenta      #B48EAD;
@define-color cyan         #88C0D0;


/* --- Waybar General Config --- */
window#waybar {
    background-color: rgba(24, 25, 31, 1);
    border: 3px solid @black;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
}


/* --- Custom Stuff --- */
#custom-separator {
    color: rgba(255, 255, 255, 0.3);
}

#custom-power {
    color: @red;
    padding-left: 7px;
    padding-right: 15px;
}

#mpris {
    color: @white;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 7px;
}



#window {
	  color: @white;
}

window#waybar.empty #window {
    background-color: transparent;
    border: 0px;
}

#workspaces {
}

#workspaces button {
    color: @gray;
    padding-left: 5px;
    padding-right: 8px;
    transition: all 0.3s ease;
}

#workspaces button:hover {
    color: @white;
    transition: all 0.3s ease;
    box-shadow: inherit;
    text-shadow: inherit;
    background: inherit;
}

#workspaces button.active {
    color: @white;
    transition: all 0.3s ease;
    animation: colored-gradient 10s ease infinite;
}

#tray {
    padding-left: 12px;
    padding-right: 5px;
}

#cpu {
    color: @magenta;
    padding-left: 10px;
    padding-right: 10px;
}

#memory {
    color: @magenta;
    padding-left: 10px;
    padding-right:10px;
}

#pulseaudio {
    color: @yellow;
    padding-left: 10px;
    padding-right: 10px;
}

#battery {
    color: @green;
    padding-left: 10px;
    padding-right: 10px;
}

#clock {
    color: @blue;
    padding-left: 10px;
    padding-right: 10px;
}
