/* --- General Config --- */ 
* {
	  font-family: JetBrains Mono Nerd Font, SymbolsNerdFont;
	  font-weight: bold;
	  font-size: 12px;
    border: none;
    border-radius: 0;
    box-shadow: none;
}


/* --- Black Metal (Gorgoroth) Colorscheme --- 

Credits: https://github.com/metalelf0/base16-black-metal-scheme

*/

@define-color black     #000000;
@define-color gray      #555555;
@define-color white     #c1c1c1;

@define-color red       #5f8787;
@define-color green     #9b8d7f;
@define-color yellow    #8c7f70;
@define-color blue      #888888;
@define-color magenta   #999999;
@define-color cyan      #aaaaaa;


/* --- Waybar General Config --- */
window#waybar {
    background-color: rgba(12, 12, 12, 1);
}


/* --- Custom Stuff --- */
#custom-separator {
    color: rgba(255, 255, 255, 0.3);
}

#custom-power {
    color: @white;
    padding-left: 7px;
    padding-right: 15px;
}

#window {
	  color: @white;
}

window#waybar.empty #window {
    background-color: transparent;
    border: 0px;
}


/* --- Workspaces --- */

#workspaces {
    padding: 0;
}

#workspaces button {
    color: @gray;
    padding: 0px 5px;
    min-height: 0px;
}

#workspaces button.active {
    color: @white;
}


/* --- Modules --- */

#tray {
    padding-left: 12px;
    padding-right: 5px;
}

#cpu {
    color: @white;
    padding-left: 10px;
    padding-right: 10px;
}

#memory {
    color: @white;
    padding-left: 10px;
    padding-right:10px;
}

#pulseaudio {
    color: @white;
    padding-left: 10px;
    padding-right: 10px;
}

#battery {
    color: @white;
    padding-left: 10px;
    padding-right: 10px;
}

#clock {
    color: @white;
    padding-left: 10px;
    padding-right: 10px;
}
