/* --- General Config --- */ 
* {
	  font-family: JetBrains Mono Nerd Font, SymbolsNerdFont;
	  font-weight: bold;
	  font-size: 14px;
	  min-height: 10px;
    border: none;
}


/* --- Nord Colorscheme --- */

@define-color black     #111213;
@define-color grey      #3B4252;
@define-color white     #E5E9F0;

@define-color red       #BF616A;
@define-color orange    #e69875;
@define-color yellow    #EBCB8B;
@define-color green     #A3BE8C;
@define-color blue      #81A1C1;
@define-color cyan      #88C0D0;
@define-color magenta   #B48EAD;

/* --- Waybar Config --- */
window#waybar {
	  color: rgba(53, 185, 171, 1);
    background-color: rgba(20, 25, 29, 1);
    border-radius: 0px;
}


/* --- Custom Stuff --- */
#custom-arch {
    color: @white;
    padding-left: 10px;
    padding-right: 0px;
}

#custom-separator {
    color: rgba(255, 255, 255, 0.5);
}


#window {
    color: @white;
    padding-left: 10px;
}

window#waybar.empty #window {
    background-color: transparent;
    border: 0px;
}

#workspaces {
    padding-left: 10px;
}

#workspaces button {
    color: @grey;
    padding-right: 7px;
}

#workspaces button.focused {
    color: @white;
}

#workspaces button:hover {
    color: @white;
}
#workspaces button.active {
    color: @white;
}


#tray {
    padding-left: 10px;
    padding-right: 10px;
}

#memory {
    color: @white;
    padding-left: 10px;
    padding-right: 10px;
}

#cpu {
    color: @white;
    padding-left: 10px;
    padding-right: 10px;
}

#pulseaudio {
    color: @white;
    padding-left: 10px;
    padding-right: 10px;
}

#battery {
    color: @white;
    padding-left: 10px;
    padding-right: 10px;
}

#clock {
    color: @white;
    padding-left: 10px;
    padding-right: 10px;
}
