/* --- General Config --- */ 
* {
	  font-family: JetBrains Mono Nerd Font, SymbolsNerdFont;
	  font-weight: bold;
	  font-size: 14px;
	  min-height: 10px;
    border: none;
}


/* --- See The Stars Colorscheme --- */

@define-color black     #111213;
@define-color grey      #848884;
@define-color white     #f2f3f4;

@define-color red       #e67e80;
@define-color orange    #e69875;
@define-color yellow    #FFFF8F;
@define-color green     #83c092;
@define-color blue      #7fbbb3;
@define-color purple    #CF9FFF;


/* --- Waybar General Config --- */
window#waybar {
	  color: rgba(53, 185, 171, 1);
    background-color: rgba(17, 18, 19, 1);
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 7px;
}


/* --- Custom Stuff --- */
#custom-arch {
    color: @white;
    margin-right: 10px;
    margin-top: 5px;
}

#custom-cava {
    color: @white;
}

#custom-exit {
    color: @red;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 7px;
}

#custom-separator {
    color: @white;
}


#window {
	  color: @white;
    margin-left: 4px;
}

window#waybar.empty #window {
    background-color: transparent;
    border: 0px;
}

#workspaces {
    margin-top: 5px;
}

#workspaces button {
    color: @grey;
    padding-left: 3px;
    transition: all 0.3s ease;
}

#workspaces button.focused {
    color: @white;
    transition: all 0.3s ease;
    animation: colored-gradient 10s ease infinite;
}

#workspaces button:hover {
    color: @white;
    border-radius: 20px;
    transition: all 0.3s ease;
    box-shadow: inherit;
    text-shadow: inherit;
}
#workspaces button.active {
    color: @white;
    border-radius: 20px;
    transition: all 0.3s ease;
    animation: colored-gradient 10s ease infinite;
}

#tray {
}

#pulseaudio {
    color: @white;
    margin-left: 2px;
}

#battery {
    color: @white;
    margin-right: 2px;
    margin-top: 5px;
}

#clock {
    color: @white;
    margin-top: 7px;
}
