/* --- General Config --- */ 
* {
    font-family: JetBrains Mono Nerd Font, SymbolsNerdFont;
    font-weight: bold;
    font-size: 12px;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

/* Colorscheme */

@import "/home/pwnd/.cache/wal/colors-waybar.css";

/* --- Waybar General Config --- */
window#waybar {
    background-color: @color5;
    /*rgba(136, 136, 136, 1);*/
}


/* --- Custom Stuff --- */
#custom-separator {
    color: rgba(255, 255, 255, 0.3);
}

#custom-weather {
    color: @foreground;
    padding-left: 7px;
    padding-right: 7px;
}

.modules-right {
    background-color: @background;
}

#window {
    color: @background;
    background-color: @color5;
    padding-left: 5px;
}

window#waybar.empty #window {
    background-color: transparent;
    border: 0px;
}


/* --- Workspaces --- */

#workspaces {
    padding: 0;
    background-color: @background;
}

#workspaces button {
    color: @color7;
    padding: 0px 5px;
    min-height: 0px;
}

#workspaces button.active {
    color: @background;
    background-color: @color5;
}


/* --- Modules --- */

#tray {
    padding-left: 12px;
    padding-right: 5px;
}

#pulseaudio {
    color: @foreground;
    padding-left: 10px;
    padding-right: 10px;
}

#battery {
    color: @foreground;
    padding-left: 10px;
    padding-right: 10px;
}

#clock {
    color: @foreground;
    padding-left: 10px;
    padding-right: 10px;
}
