* {
    border: none;
    border-radius: 0px;
	  font-family: JetBrains Mono Nerd Font, SymbolsNerdFont;
	  font-weight: bold;
	  font-size: 14px;
	  min-height: 10px;
}

@define-color bg #1e2326;
@define-color fg #d3c6aa;
@define-color red #e67e80;
@define-color blue #7fbbb3;
@define-color green #83c092;
@define-color orange #e69875;
@define-color white #f2f3f4;
@define-color grey #848884;

window#waybar {
    margin: 5px 5px;
    border: 0px solid @white;
    border-radius: 90px;
	  color: rgba(53, 185, 171, 1);
    background-color: rgba(36, 33, 36, 1);
}


#window {
	  margin: 0 5px;
	  padding: 0px 15px 0px 15px;
	  color: @white;
}

window#waybar.empty #window {
    background-color: transparent;
    border: 0px;
}

#workspaces {
    margin: 0px 0px;
    padding: 0px 15px;
    /*border-radius: 10;*/
}

#custom-scratchpad {
    margin: 0px	5px;
    padding: 0px 5px;
}

#workspaces button {
    padding: 0 10px;
    color: @grey;
}

#workspaces button.focused {
    color: @white;
}

#workspaces button.visible {
    color: rgba(115, 186, 37, 1);
}

#workspaces button.urgent {
    color: rgba(33, 164, 223, 1);
}

#workspaces button:hover {
	  color: @white;
    background-color: rgba(255, 255, 255, 0.1);
    /*border-radius: 10 10 10 10;*/
}
#workspaces button.active {
    color: @white;
	  background-color: rgba(255, 255, 255, 0.1);
    /*border-radius: 10 10 10 10;*/
}

#tray {
    margin: 10px;
    padding: 0px 10px;
}

#language {
	  margin: 0px;
	  padding: 0px 0px 0px 15px;
	  color: @white;
}

#pulseaudio {
	  margin: 0px;
	  padding: 0px 0px 0px 15px;
	  color: @white;
}

#battery {
    margin: 0px;
    padding: 0px 10px 0px 0px;
    color: @white;
}

#clock {
	  margin: 0px 10px;
	  padding: 0px 15px;
	  color: @white;
}
