/* --- General Config --- */ 
* {
	  font-family: JetBrains Mono Nerd Font, SymbolsNerdFont;
	  font-weight: bold;
	  font-size: 12px;
    border: none;
    border-radius: 0;
    box-shadow: none;
}


/* --- Nord Colorscheme --- */

@define-color black     #3b4252;
@define-color gray      #808080;
@define-color white     #bfbfbf;

@define-color red       #bf616a;
@define-color green     #a3be8c;
@define-color yellow    #ebcb8b;
@define-color blue      #81a1c1;
@define-color magenta   #b48ead;
@define-color cyan      #88c0d0;


/* --- Waybar General Config --- */
window#waybar {
    background-color: rgba(24, 25, 31, 1);
}


/* --- Custom Stuff --- */
#custom-separator {
    color: rgba(255, 255, 255, 0.3);
}

#custom-power {
    color: @white;
    padding-left: 7px;
    padding-right: 15px;
}



#window {
	  color: @white;
}

window#waybar.empty #window {
    background-color: transparent;
    border: 0px;
}

#workspaces {
    padding: 0;
}

#workspaces button {
    color: @gray;
    padding: 0px 5px;
    min-height: 0px;
}

#workspaces button.active {
    color: @white;
}

#tray {
    padding-left: 12px;
    padding-right: 5px;
}

#cpu {
    color: @white;
    padding-left: 10px;
    padding-right: 10px;
}

#memory {
    color: @white;
    padding-left: 10px;
    padding-right:10px;
}

#pulseaudio {
    color: @white;
    padding-left: 10px;
    padding-right: 10px;
}

#battery {
    color: @white;
    padding-left: 10px;
    padding-right: 10px;
}

#clock {
    color: @white;
    padding-left: 10px;
    padding-right: 10px;
}
